<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}
    {% endblock %}

    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/jquery-2.1.0.min.js"></script>
       <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '387105771444100',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  </head>
  <body background="/media/fondo.jpg" heigth="100%" width="100%">
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&appId=387105771444100&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
      return render_to_response("usuario/login.html",{'formulario':formulario},context_instance=RequestContext(request))
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '{your-app-id}',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '387105771444100',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <!--<div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed",data-toggle="collapse",data-target="#navbar",aria-expanded="false",aria-controls="navbar"></button>
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <div class="container">-->
              <div class="row">
                <div id="navbar" class="col-xs-6"><img src="/media/triviador-logo.png" heigth="59"></div>
                <div id="navbar" class="col-xs-6">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Inicio</a></li>
                    {% if user.is_authenticated %}
                      <li class="active"><a href="/">Crear Partida</a></li>
                      <li class="active"><a href="/">Unirse a una partida</a></li>
                      <li class="active">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.get_username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><img src="/media/{{ user.perfil.avatar.url_50x50}}" alt="avatar"></li>
                          <li class="active"><a href="/logout/">Salir</a></li>
                        </ul>
                      </li>
                      <li><img src="/media/{{ user.perfil.avatar.url_50x50}}" alt="avatar" class="img-circle"></li>
                     <!--<li><img src="/media/{{ user.perfil.avatar.url_50x50}}" alt="avatar"></li>-->
                    {% else %}
                      <li class="active"><a href="/registro.html">Registro</a></li>
                      <li class="active"><a href="login.html">Login</a></li>
                    {% endif %}
                  </ul>
               <!</div>
              <!</div>
            </div>     
      </div>  
      </div>
    </nav>
    <article>
      <aside>
        <div>
          {% block content %}
          {% endblock %}
        </div>
      </aside>
    </article>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{STATIC_URL}}js/jquery-2.1.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
  </body>
  
</html>