{% extends "base.html" %}
{% block content %}
<div class="col-xs-3"></div>
<div class="col-xs-4" id="par">
	<h2>CREAR PARTIDA</h2>
	<form id="sala" method="post" action="salaespera.html"><ul><li><label>nombre de la partida</label><input type="text" name="nombre"/></li><li><label>cantidad de jugadores</label><input type="text" name="cantidad"/></li><li><label>cantidad de preguntas</label><input type="text" name="pregunta"/><input type="submit" value="crear"/></li></ul></form>
</div>
{% endblock %}