{%extends "base.html"%}
{% block title %}
	<title>LOGIN</title>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-2"></div>
			<div>
				{% if estado %}
				<div class="alert alert-danger" role="alert">{{mensaje}} <span class="glyphicon glyphicon-warning-sign"></span>
				</div>
				{% endif %}
			</div>
			<div id="qw">
				<div class="col-xs-9">
				    <form action="" method="post" class="form">
				    	<legend>LOGIN DE USUARIO</legend>
				        {% csrf_token %}
				        {{ formulario.as_ul }}
				    	<div class="form-group">
					  		<div class="col-sm-offset-2 col-sm-10">
					  			{{capchas.as_p}}
					  		</div>
				  		</div>
						  <div class="row">
						    <div class="col-xs-6">
						      <input type="submit" value="Ingresar"/></li>
						    </div>
						    <div class="fb-login-button col-xs-4" data-max-rows="4" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true"></div>
						</div>
						<div id="status">
						</div>
					</form>
				</div>
			</div>
	</div>	
{% endblock %}