{% extends "base.html" %}

{% block title %}
	    <title>Registro usuario</title>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-2"></div>
				<div >
					
					<div id="ty">
						<h3>PERFIL</h3>
					<img src="/media/{{ user.perfil.avatar.url_200x200}}" alt="avatar">
					<div>
					<h6>NOMBRE: {{ user.get_username }}</h6>
					<h6>CORREO: {{user.email}}</h6>
					<!<img src="/media/{{ user.perfil.avatar.url_50x50}}" alt="avatar">
					<!<img src="/media/{{ user.perfil.avatar.url_200x200}}" alt="avatar">
					<a href="/user/modificar/">Modificar</a>
					</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
{% endblock %}